
:root{
    --color-primary: #149d95;
    --color-secondary: #fff;
    
}

body{
    font-family: "Monserrat", Sans-serif;
    
}
html{
    font-size: 62%;
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
img{
    max-width: 100%;
}

.centrado{
    width: 85%;
    margin: 0 auto;
}
.white{
    color: #fff;
}
.no-margin{
    margin: 0px;
}
h1,
h2,
h3,
h4,
h5{
  font-family: 'Montserrat', sans-serif; 
}
.text-center{
    text-align: center;
}
/* #particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed; 
    z-index: -1;
    background:rgb(2, 17, 32);
}   */

 .logo{
    width: 120px;
    height: 25px;  
}
.logo{
    padding-left:25px;
    
  }

 

nav{
    display: flex; 
    flex-direction:column; 
    align-items: flex-start;
    min-height:8vh;
    width: 100%;
    top: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}
@media (min-width: 768px){
    nav{
        justify-content: space-around;
        flex-direction: row;
    }
}

.ham{
background-color:transparent;
cursor: pointer;
border:none;
margin:0;
padding:0;
display:block;
cursor:pointer;
position: absolute; 
top:15px;
right:25px;
transition: 0.2s  0.1s; 
}
@media (min-width:768px) {
        .ham{
        display:none;
    
            }
} 
.ham span{
    background-color: #149d95;
    display:block;
    height:3px;
    width: 28px;
    margin:10px auto;
    border-radius:2px;    
}
.enlaces-menu{
    display:flex;
    padding:0;
}
    @media (max-width: 768px){
    .enlaces-menu{
        flex-direction:column;
        justify-content: space-around;
        align-items:center;
        height: 92vh;         
        margin:0;
        padding:0; 
        display:none;
        opacity:0;
        transition: opacity 5s ease-out;
        width:100%;  
        }
  }
  .enlaces-menu li{
      padding: 0 40px;
      list-style-type: none;
      transition: 0.3s;
  }

   @media (max-width: 768px){
    .enlaces-menu li{
        text-align:center;
        width:100%;
        padding:20px;    
    }
  } 

  .enlaces-menu li a{
      text-decoration:none;
      font-size: 1.8rem;
      color: var(--color-primary);
      font-weight:600;
  }
  .enlaces-menu li:hover{
      background-color:rgb(2, 17, 32);
  } 


/* Animaciones */
 
 @keyframes muestraMenu {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .enlaces-menu.activado{
      display:flex;
      position: relative;
      animation: muestraMenu 350ms ease-in-out both;
  }

  .br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
  }
  
  .br-2.animado{
    opacity: 0;
  }
  .br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
  }

 .ham.girar:hover{
     transform:rotate(360deg);
 }  
 
 .header-main{
     background:rgb(9, 113, 218)

 }
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
   

}

@media (min-width: 768px){
    .contenido{
        flex-direction: row-reverse;
        height: 100%;
    }
   
}
.text{
    text-align: center
}
@media (min-width: 768px){
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.main-par{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
@media (min-width: 768px){
    .main-par{
        
        flex-direction: row;
           
    }
}
.main-img{
    width: 80%;
}


@media (min-width: 768px){
    .main-par:nth-child(2){
        flex-direction: row-reverse;
    }
}
.main-text{
    width: 80%;
}

.section-med{
    background-color: #aedee1;
    padding: 2rem;
}
@media (min-width: 768px){
    .section-med{
        display: flex;
    }
    .section-med__left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-med__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media (min-width: 768px){

    .contain-section-mid{
    display: flex;   

    }
}

    


.section-div{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    padding: 2rem;
    background:rgb(2, 17, 32) ;
}
.section-div__contain{
    display: flex;
    justify-content: space-between;
    height: 50vh;
}
@media (min-width: 768px){
    .section-div{

    }
    .section-div__contain{
       
    }
    .section-div__left{

        
    }
    .section-div__right{
        
       
    }
    .section-div__img{
       
    }
}












