
:root{
    --color-primary: #149d95;
    --color-secondary: #fff;
    
}

body{
    font-family: "Monserrat", Sans-serif;
    
}
html{
    font-size: 62%;
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
img{
    max-width: 100%;
}

.centrado{
    width: 85%;
    margin: 0 auto;
}
.white{
    color: #fff;
}
.no-margin{
    margin: 0px;
}
h1,
h2,
h3,
h4,
h5{
  font-family: 'Montserrat', sans-serif; 
}
.text-center{
    text-align: center;
}
#particles-js {
	height: 100vh; 
	width: 100%;
    /* position: relative; 
    z-index:-1;  */
    background:rgb(41, 86, 131);
    
}  

 .logo{
    width: 120px;
    height: 25px;  
}
.logo{
    padding-left:25px;
    
  }

 

nav{
    display: flex; 
    flex-direction:column; 
    align-items: flex-start;
    min-height:8vh;
    width: 100%;
    top: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    background:#f7f7f7;
}
@media (min-width: 768px){
    nav{
        justify-content: space-around;
        flex-direction: row;
    }
}

.ham{
background-color:transparent;
cursor: pointer;
border:none;
margin:0;
padding:0;
display:block;
cursor:pointer;
position: absolute; 
top:15px;
right:25px;
transition: 0.2s  0.1s; 
}
@media (min-width:768px) {
        .ham{
        display:none;
    
            }
} 
.ham span{
    background-color: #149d95;
    display:block;
    height:3px;
    width: 28px;
    margin:10px auto;
    border-radius:2px;    
}
.enlaces-menu{
    display:flex;
    padding:0;
}
    @media (max-width: 768px){
    .enlaces-menu{
        flex-direction:column;
        justify-content: space-around;
        align-items:center;
        height: 92vh;         
        margin:0;
        padding:0; 
        display:none;
        opacity:0;
        transition: opacity 5s ease-out;
        width:100%;  
        }
  }
  .enlaces-menu li{
      padding: 0 40px;
      list-style-type: none;
      transition: 0.3s;
  }

   @media (max-width: 768px){
    .enlaces-menu li{
        text-align:center;
        width:100%;
        padding:20px;    
    }
  } 

  .enlaces-menu li a{
      text-decoration:none;
      font-size: 1.8rem;
      color: var(--color-primary);
      font-weight:300;
  }
  .enlaces-menu li:hover{
      background-color:rgb(2, 17, 32);
  } 


/* Animaciones */
 
 @-webkit-keyframes muestraMenu {
    from {opacity: 0;}
    to {opacity: 1;}
  }
 
 @keyframes muestraMenu {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .enlaces-menu.activado{
      display:flex;
      position: relative;
      -webkit-animation: muestraMenu 350ms ease-in-out both;
              animation: muestraMenu 350ms ease-in-out both;
  }

  .br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
  }
  
  .br-2.animado{
    opacity: 0;
  }
  .br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
  }

 .ham.girar:hover{
     transform:rotate(360deg);
 }  
 
 .header-main{
     background:rgb(9, 113, 218)

 }
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
   

}

@media (min-width: 768px){
    .contenido{
        flex-direction: row-reverse;
        height: 100%;
    }
   
}
.carrousel{
    height: 50vh;
}


/* carrusel */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;   
    width: 100%;
    height: 100%;
    background: rgb(218, 34, 34);
   
}
.title-carrousel{
    margin: 0;
    color: #fff;
    text-shadow: rgb(33, 44,33),
    (88,100,121)
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    width: 70%;
    filter: blur(4px);
    /* background: #d1ebff; */
    background: transparent;
}
.swiper-slide-active{
    filter: blur(0px);
    /* background: #fff; */
}

.swiper-slide img {
    border-radius: 10px;
    display: block;
    width: 100%;
}
.swiper-pagination-bullet{
    /* background: #fff; */
    background: blue;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right{
    background-image: none
}






.text{
    text-align: center
}
@media (min-width: 768px){
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.main-par{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
@media (min-width: 768px){
    .main-par{
        
        flex-direction: row;
           
    }
}
.main-img{
    width: 80%;
}


@media (min-width: 768px){
    .main-par:nth-child(2){
        flex-direction: row-reverse;
    }
}
.main-text{
    width: 80%;
}

.section-med{
    background-color: #aedee1;
    padding: 2rem;
}
.title-section-med{
    color: var(--color-primary);
    text-transform: capitalize;
}

@media (min-width: 768px){
    .section-med{
        display: flex;
    }
    .section-med__left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-med__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}


@media (min-width: 768px){

    .contain-section-mid{
    display: flex;   

    }
}
.section-div{
    display: flex;
    height: 100%;
    padding: 2rem;
    background:rgb(2, 17, 32) ;
}
.section-div__contain{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
   
}
.title-section-div{
    text-align: center;
}
.paragraph-section-div{
    line-height: 1.5rem;
}
@media (min-width: 768px){
    .section-div{
        
        height: 35vh;
    }
    .section-div__contain{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    .section-div__left{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        
    }
    .section-div__right{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 30%;
        
    }
    .section-div__img{
        background: radial-gradient(rgb(136, 150, 163)  0%, 
        transparent 70%, rgb(2, 17, 32)  0%);
        height: 100%;
    }
}

.section-cards{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem; 
}
.section-cards-title{
    margin: 5rem 0;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 300;

}
.contain-cards{
    display: flex;
    flex-direction: column;
  

}
@media (min-width: 768px){
    .contain-cards{
        flex-direction: row;
        justify-content: space-between;
    }
    
}
.card{
    width: 100%;
    height: 40vh;
    border-radius: 6px;
    background: #f0f4f3;
    box-shadow: 0 .5rem 1rem;
    text-align: center;
    margin: 3rem 0;
   
}
@media (min-width: 768px){
    .card{
        height: 45vh;
        width: 15%;
    }
    
}
.card:hover{
    cursor: pointer;
    background: var(--color-primary);
    color: rgb(255, 255, 255);
    transition: .5s;
    
}
.line-top{
    width: 50%;
    margin-top: 4rem;
}
.p-card{
    font-size: 1.2rem;
}

.section-table-contain{
    height: 100%;
    width: 80%;
}
.section-table__text{
    font-size: 1.1rem;
    text-align: start;
}

.title-section-table{
    font-size: 2rem;
   
}
.img-section-table{
    width: 100%;
}

@media (min-width: 768px){
    .section-table-contain{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .section-table__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-right: 4rem;
        
    }
    .section-table__table{
        width: 60%;
        display: flex;
        justify-content: flex-end;
        
    }
    .img-section-table{
        height: 100%;   
    }
}
.section-map{
    margin-top: 6rem;
}
.contain-section-map{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-section-map{
    text-transform: capitalize;
    color: #2a3995;
}

@media (min-width: 768px){

    .title-section-map{
        font-size: 2.5rem;
    }   
    .paragraph-section-map{
            text-align: center;
            width: 50%;
            font-size: 2rem;
    }
}

.section-bar{
    height: 100%;
    background: radial-gradient(rgb(63, 44, 20) 40%,transparent 10% ,rgb(187, 28, 28) 90%), url(../img/nubes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;
    margin-top: 4rem;

}
.section-bar__contain{
    display:flex;
    flex-direction: column;
}
.section-bar__img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}
.section-bar__text{
    width:1 100%;
    padding: 2rem;
}
.title-section-bar{
    color: #fff;
    text-align: center;

}
.paragraph-section-bar{
    color: #fff;


}
@media (min-width: 768px){
    .section-bar{
        height: 40vh;
    }
    .section-bar__contain{
        flex-direction: row;
    }
}

